@import "tailwindcss";

@theme {
    --color-bg-light: #fff;
    --color-text-light: var(--color-gray-950);
    --color-bg-dark: var(--color-gray-800);
    --color-text-dark: #fff;
}

/* Variables for light theme */
:root {
    --current-bg: var(--color-bg-light);
    --current-text: var(--color-text-light);
}

/* Variables change to dark mode */
:root[data-theme="dark"] {
    --current-bg: var(--color-bg-dark);
    --current-text: var(--color-text-dark);
}

/* Apply global styles */
body {
    background-color: var(--current-bg);
    color: var(--current-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}